@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .chart-container {
    height: 400px;
    width: 100%;
    overflow: hidden;
    
    chart {
      height: 80% !important;
      width: 100% !important;
    }
  }

  .chart-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
}

