@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .sidebar-content {
    flex: 1;
    overflow-y: auto;
  }
}
